<div class="w-screen flex justify-center">
  <div className="grid grid-cols-1 grid-rows-2 gap-1">
    <div class="title-wrapper mx-auto max-w-lg pt-20 px-10">
      <h2 class="text-3xl">Hi, I'm</h2>
      <h1 class="text-5xl my-1 font-semibold">
        <span
          class="font-bold text-blue-600 dark:text-blue-100 dark:text-shadow dark:shadow-blue-900 transition-colors duration-500 surname"
          >BOEY</span
        >
        Shu Wei
      </h1>
      <p class="mt-4 text-justify">
        A fresh grad Computer Science student, currently pursuing web
        technologies devleopment career, namely Front-End.
      </p>
    </div>
    <div className="row-start-2">
      <img src="../../assets/Saly-8.svg" />
    </div>
  </div>
</div>
