.surname{
    font-family: 'Playfair Display', serif;
}

.resume{
    background-image: url('../../assets/cv.svg');
}

.linkedin{
    background-image: url('../../assets/linkedin.svg');
}

.github{
    background-image: url('../../assets/github.svg');
}

.card-container{
    height: 22rem;
    max-height: 25rem;
    perspective: 80rem;
}

.card{
height: 100%;
width:100%;
position:relative;
transition:transform 0.8s;
transform-origin: center right;
transform-style: preserve-3d;
}

.card.is-flipped{
transform: translateX(-100%) rotateY(180deg);
}


.front-card,
.back-card{
    height: 100%;
    width:100%;
    position:absolute;
    backface-visibility: hidden;
}

.front-card{
background-image: url("../../assets/Saly-8.svg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.back-card{
    transform: rotateY(180deg);
}

.slide-in {
    transform: translateY(0);
    transition: transform 1s;
  }
  
  .card.slide-in {
    transform: translateY(100%);
    transition: transform 1s;
  }