<div
  class="fixed bottom-0 left-0 right-0 z-99 bg-black dark:bg-gray-50 text-white dark:text-black flex items-center justify-center p-4 pb-3 mb-5 rounded-3xl md:mb-10 mx-auto w-60 transition-colors duration-1000"
>
  <button (click)="toggleDarkMode()">
    <span *ngIf="getDarkMode()" class="material-symbols-outlined">
      light_mode
    </span>
    <span *ngIf="!getDarkMode()" class="material-symbols-outlined">
      dark_mode
    </span>
  </button>

  <div class="ml-4 mb-2">
    <input
      type="range"
      min="1"
      max="100"
      value="50"
      id="brightness-slider"
      (input)="sliderValueChanged($event)"
      [disabled]="!getDarkMode()"
    />
  </div>

  <button class="ml-3 pt-0.5">
    <span class="material-symbols-outlined"> arrow_right </span>
  </button>
</div>
